body {
  margin: 0;
  padding: 0;
}

#grille {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  font-size: 16px;
  color: white;
  grid-template-areas:
    "header header"
    "nav nav"
    "article aside"
    "footer footer";
}

header {
  background-color: #2170b1;
  text-align: center;
  grid-area: header;
}

nav {
  background-color: #1e5485;
  text-align: center;
  grid-area: nav;
}
article {
  background-color: #34a8ce;
  text-align: center;
  grid-area: article;
  grid-column-start: 1;
  grid-column-end: 2;
}

aside {
  background-color: #6180b8;
  text-align: center;
  grid-area: aside;
}

footer {
  background-color: #93d1e4;
  text-align: center;
  grid-area: footer;
}

@media screen and (max-width: 959px) {
  #grille {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    grid-template-areas:
      "header"
      "article"
      "nav"
      "aside"
      "footer";
  }
}
